<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.barkside.travellocblog"
      android:versionCode="5"
      android:versionName="1.7">
    <application android:icon="@drawable/travel_icon" 
    	android:label="@string/app_name" 
    	android:debuggable="false">
        <uses-library android:name="com.google.android.maps" />
        <activity android:name=".TravelLocBlogMain"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditBlogElement"
        	android:configChanges="orientation"/>    
        <activity android:name=".TripMapView"
        	android:configChanges="orientation"/>    	
    </application>
    <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	 <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	 <uses-permission android:name="android.permission.INTERNET" />
</manifest> 