<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barkside.travellocblog"
    android:versionCode="7"
    android:versionName="2.2.0" >

    <!--
         Google Play services, with Fused provider requires:
         A compatible Android device that runs Android 2.2 Froyo or higher and
         includes Google Play Store.
    	 Android 2.3.3 Gingerbread is SDK Version 10, and Android 4.3 Jelly Bean is SDK 18.
    	 In Eclipse, set Properties -> Android > Google APIs 18 as the Build Target.
    	 This is necessary to build the v7 appcompat support library which is used to allow
    	 the release to run on API 7+.
    -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- End of copy. -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/travel_icon"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />
        <!--
         ** NOTE: replace the key below with the application release key. **
            "AIza...NBK8" is a debug key on 63:88:...:40:4E Windows machine
        -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBXvuyGT1W85epkj9Rr0Z3i19iwo0lNBK8" />

        <activity
            android:name=".TravelLocBlogMain"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
        </activity>
        <activity
            android:name=".EditBlogElement"
            android:label="@string/edit_post_activity"
            android:theme="@style/Theme.AppCompat"
            android:configChanges="orientation" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TravelLocBlogMain" />
        </activity>
        <activity
            android:name=".EditLocation"
            android:label="@string/edit_location_activity"
            android:theme="@style/Theme.AppCompat"
            android:configChanges="orientation" />
        <activity
            android:name=".MapTrip"
            android:label="@string/map_trip_name"
            android:theme="@style/Theme.AppCompat"
            android:configChanges="orientation" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TravelLocBlogMain" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:theme="@style/Theme.AppCompat"
            android:label="@string/app_name" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name" />
        
        <!--  app widget to create a new post -->
        <receiver
            android:name=".TravelLocWidget"
            android:label="@string/widget_new_post_name">
            <intent-filter>
               <action
                   android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data 
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <!--  app widget configure activity -->
        <activity android:name=".WidgetConfigure"
                  android:theme="@style/Theme.AppCompat"
                  android:label="@string/widget_configure_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        
        <!-- receive ACTION_SEND to import a KML file -->
        <activity
            android:name=".ImportTrip"
            android:label="@string/import_trip_name"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait" >
            <!--  Accept .kml files from other Android apps -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="application/vnd.google-earth.kml+xml"/>
                <data android:mimeType="text/*" android:pathPattern=".*\\.kml"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
